---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { blogTagRobots, fetchPosts, blogPostsPerPage } from '~/utils/blog';
import { LANGUAGES, DEFAULT_LANG, useTranslations } from '~/i18n/utils';
import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';
import Notice from '~/components/ui/Notice.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  const locales = Object.keys(LANGUAGES);
  const allPosts = await fetchPosts();

  const paths = await Promise.all(
    locales.map(async (lang) => {
      const tags = new Set<string>();
      allPosts.forEach((post) => {
        post.tags?.forEach(t => tags.add(t.slug));
      });

      return Array.from(tags).flatMap((tagSlug) => {
        let tagPosts = allPosts.filter(
          (post) => post.lang === lang && post.tags?.some(t => t.slug === tagSlug)
        );
        let isFallback = false;

        if (tagPosts.length === 0) {
          tagPosts = allPosts.filter((post) => post.tags?.some(t => t.slug === tagSlug));
          isFallback = true;
        }

        const tagData = tagPosts[0]?.tags.find(t => t.slug === tagSlug);

        return paginate(tagPosts, {
          params: { lang, tag: tagSlug },
          pageSize: blogPostsPerPage || 6,
          props: { tag: tagData, isFallback },
        });
      });
    })
  );

  return paths.flat();
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page, tag, isFallback } = Astro.props;
const { lang } = Astro.params;
const t = useTranslations(lang);

const metadata = {
  title: tag?.title || 'Tag',
  robots: { index: !isFallback && blogTagRobots?.index, follow: true },
};
---

<Layout metadata={metadata}>

  {isFallback && (
    <Notice 
      title={t('fallbacks.tag.title')} 
      class="max-w-4xl px-4 md:px-6" >
      {t('fallbacks.tag.desc')}
    </Notice>
  )}

  <section class="px-4 md:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline> Tag: {tag?.title} </Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
