---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { blogTagRobots, fetchPosts, blogPostsPerPage } from '~/utils/blog';
import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  const LANGUAGES = ['en', 'de'];

  const paths = await Promise.all(
    LANGUAGES.map(async (lang) => {
      const posts = await fetchPosts(lang);
      
      // Tags sammeln
      const tags = new Set<string>();
      posts.forEach((post) => {
        if (Array.isArray(post.tags)) {
          post.tags.forEach(tag => tags.add(tag.slug));
        }
      });

      return Array.from(tags).flatMap((tagSlug) => {
        // Filtern nach Tag
        const tagPosts = posts.filter((post) => 
          Array.isArray(post.tags) && post.tags.some(t => t.slug === tagSlug)
        );
        
        // Tag Daten holen
        const tagData = tagPosts[0].tags.find(t => t.slug === tagSlug);

        return paginate(tagPosts, {
          params: { lang: lang, tag: tagSlug },
          pageSize: blogPostsPerPage || 6,
          props: { tag: tagData },
        });
      });
    })
  );

  return paths.flat();
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths> & { tag: any };

const { page, tag } = Astro.props;
const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `Tag: ${tag.title} ${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogTagRobots?.index,
    follow: blogTagRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <section class="px-4 md:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline>
      Tag: {tag.title}
    </Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
