---
import ChartClient from "~/utils/chart-client.jsx";

const {
  title,
  subtitle,
  type = "bar",
  labels = [],
  datasets = []
} = Astro.props;
---

<section class="bg-white p-6 rounded-xl shadow space-y-3">
  <h3 class="text-xl font-semibold">{title}</h3>
  <p class="text-gray-500">{subtitle}</p>

  <ChartClient
    client:only="preact"
    type={type}
    labels={labels}
    datasets={datasets}
  />
</section>