---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';

interface Props {
  title?: string;
  subtitle?: string;
  tagline?: string;

  options: Record<string, any>;
  height?: string;

  id?: string;
  isDark?: boolean;
  classes?: {
    container?: string;
  };
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  content = await Astro.slots.render('content'),
  isAfterContent = false,

  options,
  height = '400px',

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;

// Unique chart id
const chartId = `echart-${Math.random().toString(36).slice(2, 11)}`;
const serializedOptions = JSON.stringify(options);
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-7xl mx-auto ${isAfterContent ? 'pt-0 md:pt-0 lg:pt-0' : ''} ${classes?.container ?? ''}`}
  bg={bg}
>
  <Headline
    title={title}
    subtitle={subtitle}
    tagline={tagline}
    classes={{
      container: 'max-w-xl sm:mx-auto lg:max-w-2xl',
      title: 'text-4xl md:text-5xl font-bold tracking-tighter mb-4 font-heading',
      subtitle: 'max-w-3xl mx-auto sm:text-center text-xl text-muted dark:text-slate-400',
    }}
  />

  <div class="md:basis-1/2 self-center">
        {content && <div class="mb-12 text-lg dark:text-slate-400" set:html={content} />}</div>

  <div class="mt-8">
    <div
      id={chartId}
      style={`width:100%; height:${height};`}
      class="rounded-md bg-white dark:bg-slate-900 shadow-xl dark:shadow-none dark:border dark:border-slate-700"
    ></div>
  </div>

  <slot />
</WidgetWrapper>

<script define:vars={{ chartOptions: serializedOptions, chartId }}>
  document.addEventListener("DOMContentLoaded", async () => {
    const echarts = await import("https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.esm.min.js");
    const container = document.getElementById(chartId);
    let chart;

    const observer = new IntersectionObserver(entries => {
      if (entries[0].isIntersecting) {
        if (!chart) {
          chart = echarts.init(container);
          chart.setOption(JSON.parse(chartOptions));
        } else {
          chart.resize();
        }
      }
    });

    observer.observe(container);

    window.addEventListener("resize", () => {
      chart?.resize();
    });

    document.addEventListener("visibilitychange", () => {
      if (document.visibilityState === "visible") {
        chart?.resize();
      }
    });
  });
</script>
