---
import { Icon } from 'astro-icon/components';
import { UI } from 'astrowind:config';

export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
}

const {
  label = 'Toggle theme',
  class:
    className =
      'text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-2.5 inline-flex items-center',
  iconClass = 'w-6 h-6',
} = Astro.props;

const initialTheme = UI.theme?.replace(':only', '') || 'system';
---

{
  !(UI.theme && UI.theme.endsWith(':only')) && (
    <button
      type="button"
      aria-label={label}
      class={className}
      data-aw-color-toggle
      data-theme={initialTheme}
    >
      <span data-icon="system" style={initialTheme === 'system' ? '' : 'display:none'}>
        <Icon name="tabler:device-desktop" class={iconClass} />
      </span>
      <span data-icon="light" style={initialTheme === 'light' ? '' : 'display:none'}>
        <Icon name="tabler:sun" class={iconClass} />
      </span>
      <span data-icon="dark" style={initialTheme === 'dark' ? '' : 'display:none'}>
        <Icon name="tabler:moon" class={iconClass} />
      </span>
    </button>
  )
}